$body-font-size:15px;
$font-family:'Poppins', sans-serif;
$font-weight:200,400,600;
$primary-colors:hsl(0, 78%, 62%),hsl(180, 62%, 55%),hsl(34, 97%, 64%),hsl(212, 86%, 64%);
$neutral-colors:hsl(234, 12%, 34%),hsl(229, 6%, 66%),hsl(0, 0%, 98%);
$box-size:250px;
$box-border:5px;
$margin-top:10vh;

body{
    background-color: nth($neutral-colors,3);
    font-family: $font-family;
    font-size: $body-font-size;
    color: nth($neutral-colors,2);
}

.FCFS__header{
    margin-top: $margin-top;
    text-align: center;

    .FCFS__header-h2{font-weight: nth($font-weight,1);}

    .FCFS__header-h1{color: nth($neutral-colors,1);}

    .FCFS__header-p{padding:0% 10% 0% 10%}
}

.FCFS__cards{
    margin: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .FCFS__cards-supervisor,.FCFS__cards-teamBuilder,.FCFS__cards-karma,.FCFS__cards-karma,.FCFS__cards-calculator{
        max-width: 80%;
        width: 80%;
        margin: 1rem;
        padding: .8rem;
        border-radius: $box-border; 
        box-shadow: 0px 14px 28px 4px rgba(0,0,0,0.2);
    }

    .FCFS__cards-h3{color: nth($neutral-colors,1);}

    .FCFS__cards-supervisor{ border-top:solid nth($primary-colors,2);}

    .FCFS__cards-teamBuilder{ border-top: solid nth($primary-colors,1);}

    .FCFS__cards-karma{ border-top:solid nth($primary-colors,3);}

    .FCFS__cards-calculator{ border-top:solid nth($primary-colors,4);}

    .FCFS__cards-containersvg{text-align: end; margin: 1rem;}
}

@media screen and (min-width:575px){
    .FCFS__cards-supervisor,.FCFS__cards-teamBuilder,.FCFS__cards-karma,.FCFS__cards-karma,.FCFS__cards-calculator{
        max-width: 80%;
        width: 39% !important;
 }
 }

 @media screen and (min-width:992px){
     .FCFS__cards{
         display: grid;
         grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
         grid-template-rows: auto;
         grid-template-areas: 
        ". team ."
        "superv . calcu"
        ". karma .";

    .FCFS__cards-supervisor{grid-area:superv;}

    .FCFS__cards-teamBuilder{grid-area:team;}

    .FCFS__cards-karma{grid-area:karma;}

    .FCFS__cards-calculator{grid-area:calcu;}

     }

 }